p Hey! You now have an account for OoBleck at 
  a(href='https://app.oobfest.com/') https://app.oobfest.com/
  | .
P Use this email address to log in. Your password is 
  span(style='font-family: monospace; font-weight:bold')=password
