@font-face { font-family: 'gotham-black'; src: url(../fonts/gotham-black.ttf); }
@font-face { font-family: 'gotham-book'; src: url(../fonts/gotham-book.ttf); }
body { 
  font-family: 'gotham-book', sans-serif; 
  font-size: 1rem;
}

h1, h2, h3 {
  font-weight: normal;
  font-family: 'gotham-black', sans-serif;
  margin: 1rem 0;
}

h3 {
  margin-bottom: 0;
}

h4 {
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: bold;
  font-family: 'gotham-book', sans-serif; 
}

p {
  margin-top: 0.25rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

ul { 
  margin: 0.25rem 0 0 0;
}

.logo {
  display: block;
  margin: 0 auto;
  height: 72px;
}

.text-align-center {
  text-align: center;
}

label { 
  display: block;
  margin: 1rem 0 0.25rem;
  cursor: pointer;
}

label.checkbox {
  margin: 1rem 0 0 0;
}

select,
textarea,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"] {
  font-size: 100%;
  padding: 0.5rem;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  background-color: white;
  box-sizing: content-box;

  /* What should this be? */
  width: 100%;
  max-width: 250px;
}

table select {
  box-sizing: border-box;
}

textarea { 
  resize: vertical; 
  height: 3rem;
  min-height: 3rem;
}

input[type="checkbox"],
input[type="radio"] {
  position: relative;
  bottom: 2px;
}

button {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: 100%;
  color: white;
  background-color: #211d1e;
  border-radius: 4px;
  cursor: pointer;

  border: 1px solid black;
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,.3),inset 0 -1px 0 0 rgba(39,39,39,.22),0 1px 3px 0 rgba(0,0,0,.22);
}

button:active {
  background-color: #3B3738;
}

button.primary {
  color: white;
  border-color: #15808c;
  background-color: #15808c;
}
button.primary:active {
  background-color: #2F9AA6;
}

button.danger {
  color: white;
  border-color: #f04c23;
  background-color: #f04c23;
}

button.danger:active {
  background-color: #FF663D;
}

.table-box {
  border: 1px solid #c8c8c8;
  border-radius: 6px;
  background-color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  border-bottom: 1px solid #c8c8c8;
  vertical-align: bottom;
  text-align: inherit;
}

td {
  vertical-align: middle;
  display: table-cell;
  border-top: 1px solid #c8c8c8;
}

/* Zebra Stripes! 🦓 */
tbody tr:nth-child(odd) {
  /* background: var(--light-background); */
}

th, td { 
  padding: 0.75rem;
}

/* Buttons are smaller inside tables */
td button {
  margin-top: 0;
  padding: 0.25rem;
  font-size: 0.75rem;
}

.score-box label {
  display: flex;
  margin: 0.25rem;
  padding: 0.25rem; 
  max-width: 250px;
  font-size: 1.25rem;
  line-height: 2;
  border: 1px solid lightgray;
  border-radius: 4px;
}
