@font-face { font-family: 'gotham-black'; src: url(../fonts/gotham-black.ttf); }
@font-face { font-family: 'gotham-book'; src: url(../fonts/gotham-book.ttf); }
body { 
  font-family: 'gotham-book', sans-serif; 
  font-size: 1rem;
  color: #e5e5e5;
}

h1, h2 {
  font-weight: normal;
  font-family: 'gotham-black', sans-serif;
}

h2 {
  color: #f9a01b;
  font-size: 3rem;
}

h3 { 
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 0;
  border-bottom: 1px solid white;
}

a {
   color: #f9a01b
}

nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
}

nav ul li {
  font-size: 1.5rem;
  margin: 1rem;
}

nav ul li a {
  color: white;
}

ul { 
  margin: 0;
  margin-left: 2rem;
  padding: 0;
}

.text-align-center {
  text-align: center;
}

label { 
  display: block;
  margin: 1rem 0 0.25rem;
}

label.checkbox {
  font-size: 1.25rem;
  margin: 0.25rem;
  cursor: pointer;
}

select,
textarea,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"] {
  font-size: 100%;
  padding: 0.5rem;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  background-color: white;
  box-sizing: content-box;

  /* What should this be? */
  width: 100%;
  max-width: 250px;
}

textarea { 
  resize: vertical; 
  height: 5rem;
  max-width: 920px;
  font-family: 'gotham-book', sans-serif; 
}

input[type="checkbox"],
input[type="radio"] {
  position: relative;
  bottom: 3px;
  right: 2px;
}

button {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: 100%;

  color: white;
  border-radius: 4px;
  cursor: pointer;

  border: 1px solid black;
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,.3),inset 0 -1px 0 0 rgba(39,39,39,.22),0 1px 3px 0 rgba(0,0,0,.22);

  border-color: #15808c;
  background-color: #15808c;
}

button:active {
  background-color: #2F9AA6;
}

button.danger {
  color: white;
  border-color: #f04c23;
  background-color: #f04c23;
}

button.danger:active {
  background-color: #FF663D;
}

.table-box {
  border: 1px solid #c8c8c8;
  border-radius: 6px;
  background-color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  border-bottom: 1px solid #c8c8c8;
  vertical-align: bottom;
  text-align: inherit;
}

td {
  vertical-align: middle;
  display: table-cell;
  border-top: 1px solid #c8c8c8;
}

th, td { 
  padding: 0.75rem;
}

/* Buttons are smaller inside tables */
td button {
  margin-top: 0;
  padding: 0.25rem;
  font-size: 0.75rem;
}

label small {
  display: block;
  font-style: italic;
  margin-bottom: 0.25rem;
}

