:root { 
  --dark-text: #211d1e;
  --dark-background: #211d1e;
  --dark-background-hover: #3B3738;
  --light-text: #d8d9dd;
  --light-background: #f6f6f6;
}

html {
  background-color: var(--dark-background);
  background: url("/images/buckman.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 1rem;
}

body { 
  margin: 0; 
  color: var(--dark-text);

  display: grid;
  grid-template-areas: 
    "navigation"
    "content"
    "footer";
  height: 100vh;
}

header {
  text-align: center;
}

main {
  max-width: 912px;
  background-color: rgba(0,0,0,0.5);
  padding: 0 1rem 2rem 1rem;

  max-width: 912px;
  margin: 1rem 0;
  border: 1px solid white;
  box-shadow: 1px 1px 2px white;
  border-radius: 5px;
}

#app {
  margin: 0 auto;
}

.sponsors {
  display: flex;
}

.sponsors > img {
  background-color: white;
  height: 189px;
}
