:root { 
  --dark-text: #211d1e;
  --dark-background: #211d1e;
  --dark-background-hover: #3B3738;
  --light-text: #d8d9dd;
  --light-background: #f6f6f6;
}

body { 
  margin: 0; 
  color: var(--dark-text);
  background-color: var(--dark-background);

  display: grid;
  grid-template-areas: 
    "navigation"
    "content"
    "footer";
  height: 100vh;
}

main {
  max-width: 912px;
}

#app {
  margin: 0 auto;
}

.logo {
  max-width: 100%
}
